server:
  port: 8082

spring:
  application:
    name: ms-masterdata
  datasource:
    url: jdbc:postgresql://${DB_HOST:localhost}:${DB_PORT:5432}/${DB_NAME:BD_DAW}
    username: ${DB_USER:cibertec}
    password: ${DB_PASSWORD:cibertec}
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false

eureka:
  client:
    service-url:
      defaultZone: ${EUREKA_URL:http://localhost:8761/eureka}

management:
  endpoints:
    web:
      exposure:
        include: health,info
